.dashboard {
    padding: 0px;

  }
  
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #171010;
    padding-bottom: 10px;
    background: rgb(1, 0, 60);
    background-image: none;
  }
  
  .logo {
  
    display: flex;
    align-items: center;
    color: #fff;
    background: none;
    text-shadow: #171010;
    
  }
  
  .logo img {
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .date {
    font-size: 18px;
    margin-right: 65%;
    color: #eee;
    background: none;
    align-items: center;
  }
  
  .account {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
    background: none;
    align-items: center;
    
  }
  .name{
    margin-right: 20px;
    color: #fff;
    background: none;
  }
  
  .account img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    align-items: center;
  }
  
  .account .settings {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    background-color: #eee; 
    cursor: pointer;
    align-items: center;
    
  }
  
  .account .settings i {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  